html, body {
    position: relative;
    overflow-x: hidden;
}



.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}



h3{
    font-family: 'montserrat'; 
    font-size: 16px;
    display: flex;
    justify-content: center;
   
}


